<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.20" targetFramework="net481" />
  <package id="BepInEx.Core" version="5.4.21" targetFramework="net481" />
  <package id="HarmonyX" version="2.7.0" targetFramework="net481" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net481" />
  <package id="MonoMod.RuntimeDetour" version="21.12.13.1" targetFramework="net481" />
  <package id="MonoMod.Utils" version="21.12.13.1" targetFramework="net481" />
  <package id="TagLibSharp" version="2.3.0" targetFramework="net481" />
  <package id="UnityEngine.Modules" version="2021.3.27" targetFramework="net481" developmentDependency="true" />
</packages>